.brainSurface {
    width: 100%;
    aspect-ratio: 70 / 50;
    left: auto;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
}

.tools {
    position: absolute;
    top: -35px;
    left: 5px;
    display: flex;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid grey;
    margin-left: 5px;
}

.option {
    margin-left: 5px;    
}

div.color:hover {
    border: 2px solid orange;
}

#canvas {
    width: 100%;
    height: 100%;
}

.gallery {
    width: 100%;
    height: 100%;
}

.detailed_parent {
    width: 100%;
    aspect-ratio: 70 / 50;
}

.playback {
    width: 70px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3px;
    display: inline-flex;
}

.thumbnail {
    width: 100%;
    height: 100%;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
